.progress {
  margin-bottom: 0;
}

.ReactTable .rt-thead .rt-th {
  background-color: rgb(82, 85, 90);
  color: #fff;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead.-filters .rt-th {
  border-color: #f2f2f2;
}

.ReactTable .rt-thead .rt-th input,
.ReactTable .rt-thead.-filters .rt-th input {
  color: #000;
}
