html,
body,
#root {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.toolbar {
  height: 30px;
  line-height: 24px;
  padding: 3px;
  width: 100%;
}

.toolbar > div {
  margin-right: 5px;
}

.header {
  flex: 0 0 auto;
}

[data-reach-tabs] {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

[data-reach-tab-panel] {
  height: 100%;
}

[data-reach-tab-panels] {
  flex: 1;
  overflow-y: auto;
}

/* .ReactTable .rt-thead .grid-header-cell,
.ReactTable .rt-thead.-filters .grid-header-cell {
  border-color: $background-color;
}

.ReactTable .rt-thead .grid-header-cell input,
.ReactTable .rt-thead.-filters .grid-header-cell input {
  color: $text-color;
} */

.ReactTable .grid-header-cell [class^="col-"] {
  padding: 0;
}

.ReactTable .grid-header-cell .date-filter input {
  height: 20px;
}
