html,
body,
#root {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.header {
  flex: 0 0 auto;
  background-color: rgb(27, 31, 33);
  color: rgb(148, 154, 165);
}

[data-reach-tabs] {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

[data-reach-tab-list] {
  background-color: rgb(27, 31, 33);
  color: rgb(148, 154, 165);
  padding-left: 5px;
}

[data-reach-tab][data-selected] {
  background-color: rgb(46, 51, 53);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

[data-reach-tab-panel] {
  height: 100%;
}

[data-reach-tab-panels] {
  flex: 1;
  overflow-y: auto;
}
